<!DOCTYPE html>
<html>
  <head>
    <title>Metabus Twins</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="description" content="Metabus Twins Service Page">
    <script src="https://kit.fontawesome.com/aa6be59868.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap" rel="stylesheet">
    <script src="main.js" defer></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav id="navbar">
      <ul class="navbar__menu">
        <li class="navbar__menu__item">
          <i class="fab fa-angellist"></i>
          <a href="#">Metabus Twins</a>
        </li>
        <li class="navbar__menu__item"><a href="/introduction">Introduction</a></li>
        <li class="navbar__menu__item dropdown">
          Technology ▾ 
            <ul class="dropdown">
            <li>세부메뉴 1</li>
            <li>세부메뉴 2</li>
            <li>세부메뉴 3</li>
          </ul>
        </li>
        <li class="navbar__menu__item"><a href="vision">Vision</a></li>
        <li class="navbar__menu__item"><a href="/news">News</a></li>
        <li class="navbar__menu__item"><a href="/service">Service</a></li>
        <li class="navbar__menu__item"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <!-- Home -->
    <section id="home">
      <h1>나와 똑 닮은 쌍둥이, 인공지능 AR 트윈</h1>
    </section>

    <!-- Contact -->
    <section id="contact" class="section">
      <h2 class="contact__title">저희와 함께 미래를 열어갈 투자자를 찾고 있습니다.</h2>
      <h2 class="contact__email"><a href="mailto:contact@mytwin.ai"><i class="far fa-envelope"></i>  contact@mytwin.ai</a></h2>
      <h2 class="contact__phone"><a href="tel:010-3030-5050"><i class="fas fa-phone-alt"></i>  010-3030-5050</a></h2>
      <div class="contact__links">
        <a href="https://github.com/figuar/" target="blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/accounts/login/?next=/movingkey/" target="blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCxKzdsvQrzC3jh0YQVituWQ" target="blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com/Figuar-108932247442568" target="blank">
          <i class="fab fa-facebook-square"></i>
        </a>
      </div>
      <p class="contact__rights">
        <i class="far fa-copyright"></i>2015-2021 (주)메타버스트윈스
      </p>
    </section>
  </body>
</html>
