/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue: #378ec8;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 5px;

  /* Animation duration */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  font-family: 'Jeju Myeongjo', serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}
/* Typography */

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 4px 0;
}

/* Common */
.section {
  padding: 90px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  color: var(--color-light-grey);
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}


.navbar__menu__item:hover {
  color: var(--color-white);
  transition: all var(--animation-duration) ease-in;
}

.dropdown ul{
  flex-direction: column;
  text-align: center;
  width: 100%;
  display: none;
}

.dropdown ul li a {
  color: #000;
  width: 180px;
}

.dropdown:hover ul{
  display: block;
}

/* Home */
#home {
  padding: 40px;
  padding-top: 250px;
  padding-bottom: 300px;
  text-align: center;
  /* background-color: var(--color-black); */ 
  background: url("../images/main.jpg") center/cover no-repeat;
}

/* Contact */
#contact {
  background-color: var(--color-black);
}

.contact__title,
.contact__email,
.contact__rights,
.cotact__phone {
  color: var(--color-white);
  margin: 24px 0;
}

.contact__email:hover,
.contact__phone:hover {
  transform: scale(1.1);
  transition: all var(--animation-duration) ease-in;
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-medium);
  margin: 48px 0;
}

.contact__links a{
  color: var(--color-white);
}

.contact__links i {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color-white);
}

.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-pink);
  transition: all var(--animation-duration) ease-in;
}